<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to Your Website</h1>
            <p>Discover amazing courses to enhance your skills.</p>
        </div>
    </div>

    <div class="row news-section">
        <div class="col-12">
            <h2>Latest News</h2>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/news1.jpg" alt="News 1 Image">
                        <div class="card-body">
                            <h5 class="card-title">News 1 Title</h5>
                            <p class="card-text">News 1 description</p>
                            <a href="/news/1" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/news2.jpg" alt="News 2 Image">
                        <div class="card-body">
                            <h5 class="card-title">News 2 Title</h5>
                            <p class="card-text">News 2 description</p>
                            <a href="/news/2" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/news3.jpg" alt="News 3 Image">
                        <div class="card-body">
                            <h5 class="card-title">News 3 Title</h5>
                            <p class="card-text">News 3 description</p>
                            <a href="/news/3" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row course-news">
        <div class="col-12">
            <h2>Course News</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/course-news1.jpg" alt="Course News 1 Image">
                        <div class="card-body">
                            <h5 class="card-title">Course News 1 Title</h5>
                            <p class="card-text">Course News 1 description</p>
                            <a href="/courses/Mycourses/1" class="btn btn-primary">Go to Course</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/course-news2.jpg" alt="Course News 2 Image">
                        <div class="card-body">
                            <h5 class="card-title">Course News 2 Title</h5>
                            <p class="card-text">Course News 2 description</p>
                            <a href="/courses/Mycourses/2" class="btn btn-primary">Go to Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row user-news">
        <div class="col-12">
            <h2>User News</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/user-news1.jpg" alt="User News 1 Image">
                        <div class="card-body">
                            <h5 class="card-title">User News 1 Title</h5>
                            <p class="card-text">User News 1 description</p>
                            <a href="/users/1" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="news-card card">
                        <img class="card-img-top" src="https://example.com/user-news2.jpg" alt="User News 2 Image">
                        <div class="card-body">
                            <h5 class="card-title">User News 2 Title</h5>
                            <p class="card-text">User News 2 description</p>
                            <a href="/users/2" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row notifications">
        <div class="col-12">
            <h2>Notifications</h2>
            <ul>
                <li>Notification 1</li>
                <li>Notification 2</li>
                <li>Notification 3</li>
            </ul>
        </div>
    </div>
</div>