<div class="mt-4 mx-5">
  <form method="GET" action="/news">
    <div class="form-group">
      <label for="exampleInputEmail1">
        Tìm kiếm
      </label>
      <input class="border-dark form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>