 <div class="container">
    <div class="row profile-section">
      <div class="col-12">
        <div class="user-info">
          <div class="user-avatar">
            <img src="https://example.com/user-avatar.jpg" alt="User Avatar">
          </div>
          <div class="user-details">
            <h2>User Name</h2>
            <p>User Bio</p>
            <a href="/users/edit" class="btn btn-primary">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>